/*my css stylesheet*/
body{
   margin:auto;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

nav{
    margin:0;
    padding: 0.5rem;
    background-color: #204a8e;
    box-shadow: 5rem;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align:end;
}

nav li{
    display:inline-block;
    padding: 1rem;
    text-decoration:none;
    font-size: 20px;
    color: lightgrey;
}

.line{
    border-right: 0.1rem solid lightgrey;
}

li a{
    text-decoration: none;
}

li a:visited{
    text-decoration: none;
    color: lightgray;
}
li a:hover{
    color: 
    darkgray;
    text-decoration:none;
}

h1{
    text-align: center;
}

h2{
    margin: 1rem;
}

p{
    margin: 1rem;
}
.main{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

.secpg{
    display:flex;
    flex-flow: row wrap;
}

.blogs{
    margin: 2rem 9rem;
}

.runimg1, .puglick{
    float: left;
    border-radius: 1rem;
    margin-right: .5rem;
    margin-left: 1rem;
}

.runimg1, .puglick::after {
    content: "";
    display: table;
    clear: both;
  }
.bookimg1{
    float: right;
    border-radius: 1rem;
    margin-left: .5rem;
    margin-right: 1rem;
} 

.bookimg1::after{
    content: "";
    display: table;
    clear: both;
}